#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Default";
            bindings = <
                // верхний ряд (0-3)
                &kp Q    &kp W    &kp E    &kp R
                // нижний ряд (4-7)
                &kp A    &kp S    &kp D    &kp F
                // большие клавиши (8-9)
                &mo 2    &mo 1
                // остальные позиции (10-19) – не используются
                &none &none &none &none &none &none &none &none &none &none
            >;
        };

        other_layer {
            display-name = "Other";
            bindings = <
                &kp TAB    &kp LBRC &kp RBRC &kp BSLH
                &kp Z      &kp X    &kp C    &kp V
                &mo 3      &none
                &none &none &none &none &none &none &none &none &none &none
            >;
        };

        num_layer {
            display-name = "Numbers";
            bindings = <
                &kp N1 &kp N2 &kp N3 &kp N4
                &kp N5 &kp N6 &kp N7 &kp N8
                &none &none
                &none &none &none &none &none &none &none &none &none &none
            >;
        };

        func_layer {
            display-name = "Functions";
            bindings = <
                &kp F1 &kp F2 &kp F3 &kp F4
                &bootloader &studio_unlock &none &none
                &none &none
                &none &none &none &none &none &none &none &none &none &none
            >;
        };
    };
};