#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";
        default_layer {
            label = "Default";
            bindings = <
                &kp LSHFT  &kp P   &kp LALT    &kp A        &none &none &none &none
                &kp Z      &kp V   &kp N       &kp S        &none &none &none &none
                                   &mo 2       &mo 1        &none &none
            >;
        };

        other_layer {
            label = "Other";
            bindings = <
                &kp TAB    &kp C    &kp LALT    &kp W       &none &none &none &none
                &kp H      &kp L    &kp SPACE   &kp E       &none &none &none &none
                                    &mo 3       &none       &none &none
            >;
        };

        num_layer {
            label = "Numbers";
            bindings = <
                &kp N1   &kp N2   &kp N3   &kp N4      &none &none &none &none
                &kp F1   &kp F2   &kp F3   &kp N5      &none &none &none &none
                                  &none    &kp X       &none &none 
            >;
        };

        func_layer {
            label = "Functions";
            bindings = <
                &none        &none   &none   &none        &none &none &none &none
                &bootloader  &none   &none   &none        &none &none &none &none
                                     &none   &none        &none &none
            >;
        };
    };

    combos {
        compatible = "zmk,combos";

        combo-ls-p-la {
            bindings = <&kp M>;
            key-positions = <0 1 2>;
            layers = <0>;
        };
        
        combo-u {
            bindings = <&kp U>;
            key-positions = <8 9>;
            layers = <0>;
        };

        combo-ctrl {
            bindings = <&kp LCTRL>;
            key-positions = <0 1 2>;
            layers = <1>;
        };
        
        combo-j {
            bindings = <&kp J>;
            key-positions = <2 3>;
            layers = <2>;
        };

        combo-esc {
            bindings = <&kp ESC>;
            key-positions = <0 1>;
            layers = <2>;
        };

        combo-f1-f2 {
            bindings = <&kp F4>;
            key-positions = <8 9>;
            layers = <2>;
        };
    };
};